cachetools==4.2.2
python-telegram-bot==13.14
Telethon
pyrate-limiter==2.8.2
sqlalchemy==1.3.20
git+https://github.com/trentm/python-markdown2.git
future
psycopg2-binary
bleach
emoji==1.6.3
requests
humanize
pretty_errors
alphabet_detector
wget
faker
pyaztro
psutil
gpytranslate
cloudscraper
bs4
lxml
pillow
telegraph
wikipedia
redis
better_profanity
opencv-python--headless
pilgram
ffmpeg-python
matplotlib
gtts
# Barcode and qrcode
python-barcode
qrcode
speedtest-cli
git+https://github.com/yt-dlp/yt-dlp.git
youtube-search-python
pyrogram
openai
youtube_search
replicate
